@use '../../bootstrap/mixins/_breakpoints';
@use '../variables/_colors.scss';

.full-background-image {
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 8rem !important;
	padding-bottom: 8rem !important;
}

.page-gutters {
	padding-left: 150px;
	padding-right: 150px;

	@include media-breakpoint-down(md) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.bg-gray {
	background-color: $gray-500;
}